# Packacge requriment

autopep8==1.6.0
flake8==4.0.1
integrate==1.3.0
mccabe==0.6.1
memory-profiler==0.60.0
pep8==1.7.1
pip==22.1.2
psutil==5.9.1
pycodestyle==2.8.0
pyflakes==2.4.0
setuptools==58.1.0
toml==0.10.2
Pydev==9.30.0
Python==3.10.0

# Software requirment

Eclipse IDE for Enterprise Java and Web Developers (includes Incubating components)
Version: 2022-06 (4.24.0)
